<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Sets some suggested Spring Boot defaults -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- register all appenders -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
